/*
    main colors:
    255,240,236
    85,107,141
    180,200,220
    194,39,75
*/
head{
    /* 
     serch bar on the top
     then account, Home, Shop, About, Contact, Gift Card
    */
}
body{
    background-color: rgb(255, 240, 236);
    position: relative;
    top: 100px;
}

h1{
    text-align: center;
    color: rgb(85, 107, 141);
}
pre{
    text-align: center;
    color: rgb(194,39,75);
}
#main{
    background-image: url("res/HomePage.jpeg");
    margin: auto;
    width: 1312px;
    height: 736px;
    position: relative;
}
#button{
    position: absolute;
    left: 450px;
    right: 450px;
    top: 600px;
    bottom: 100px;
}
#menu{
    position: sticky;
    top: 0px;
}
