/*
    main colors:
    255,240,236
    85,107,141
    180,200,220
    194,39,75
*/
head{
    /* 
     serch bar on the top
     then account, Home, Shop, About, Contact, Gift Card
    */
}
body{
    background-color: rgb(255, 240, 236);

}

h1{
    text-align: center;
    color: rgb(85, 107, 141);
}
pre{
    text-align: center;
    color: rgb(194,39,75);
}
#main{
    background-image: url("res/HomePage.jpeg");
    margin: auto;
    width: 1312px;
    height: 736px;
    position: relative;
}
#button{
    position: absolute;
    left: 450px;
    right: 450px;
    top: 600px;
    bottom: 100px;
}
.navBar{
    overflow: hidden;
    background-color: rgb(194,39,75);
}
.navBar a{
    float: left;
    display: block;
    color: rgb(255,240,236);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}
.navBar a:hover {
    background-color: rgb(255,240,236);
    color: rgb(85, 107, 141);
    border: 3px solid rgb(85, 107, 141);
}
.topnav a.active {
    background-color: rgb(85, 107, 141);
    color: rgb(255,240,236);
}
  
/* https://www.w3schools.com/howto/howto_css_searchbar.asp */